<div class="page-wrap">
  <div>
    <h1>Find Video Editors</h1>
  </div>

  <div>
    <ul class="cards-list">
      <% @posts.each do |p| %>
        <li>
          <div class="post-card">
            <% if p.video.attached? %>
              <%= video_tag url_for(p.video),
                    class: "hover-play",
                    muted: true,            # required for autoplay
                    loop: true,
                    playsinline: true,
                    preload: "metadata",
                    controls: false %>
            <% end %>
            <%= link_to p.title, p %> — <%= p.user&.username || "No user" %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
